* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  }
  
  :root {
    --brand-color1: #4200ff;
    --brand-color2: #06821c;
  }
  
  body {
    width: 100%;
    color: black;
  }
  
  .container {
    margin: 0px 5%;
  }
  
  /* Nav-section */
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 5%;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.17);
    background-color: white;
    z-index: 1;
  }
  
  .logo {
    font-size: 45px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 5px;
  }
  
  .logo p span {
    color: var(--brand-color1);
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    font-size: 20px;
    position: relative;
  }
  
  .nav-links li a {
    text-decoration: none;
    padding: 5px 20px;
    color: grey;
    border-radius: 10px;
    margin: 0px 5px;
    transition: all 0.3s;
  }
  
  .nav-links li a:hover {
    color: var(--brand-color1);
    background: rgba(0, 0, 0, 0.434);
  }
  
  .menu-bar {
    display: none;
  }
  
  .menu-close {
    display: none;
  }
  
  /* Home section */
  
  .home {
    width: 100%;
    height: 100vh;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 0px 50px;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--brand-color2);
  }
  
  .content .home-img img {
    height: 400px;
    width: 400px;
    border-radius: 50%;
  }
  
  .welcome-text {
    font-size: 50px;
    letter-spacing: 3px;
  }
  
  .name {
    font-size: 70px;
    margin-bottom: 5px;
  }
  
  .name span {
    color: var(--brand-color2);
  }
  
  .title {
    font-size: 50px;
  }
  
  .title span {
    color: var(--brand-color1);
  }
  
  .btn {
    display: inline-block;
    padding: 15px;
    border: 2px solid #000;
    color: black;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 10px;
    background: white;
    font-weight: 600;
    transition: all 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.57);
  }
  .btn:hover {
    background: var(--brand-color2);
  }
  
  .btn:hover a {
    color: white;
  }
  
  ul {
    display: flex;
    align-items: center;
    margin: 20px 0px;
  }
  
  ul li {
    padding-right: 30px;
  }
  
  ul li i {
    font-size: 30px;
  }
  
  ul li i:hover {
    color: var(--brand-color2);
  }
  
  /* About-section */
  
  .about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 70px 0px;
  }
  
  .about-img img {
    padding: 15px;
    width: 400px;
    border-radius: 60px;
    transition: all 0.3s;
  }
  
  .about-img {
    flex-basis: 40%;
    /* display: flex;
    justify-content: center; */
    overflow: hidden;
  }
  
  .about-text {
    flex-basis: 59%;
  }
  
  .about-text h3 {
    display: inline-block;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 15px;
    padding-bottom: 1px;
    border-bottom: 3px solid var(--brand-color1);
  }
  
  .about-text p {
    font-size: 20px;
    margin-bottom: 25px;
  }
  
  fieldset {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 4px solid var(--brand-color1);
    border-radius: 10px;
    padding: 10px 20px;
    transition: background 0.3s;
  }
  
  legend {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
  }
  
  td {
    padding: 10px;
  }
  
  .bio-title {
    font-weight: 900;
    font-size: 16px;
  }
  
  fieldset:hover {
    background: #4400ff3e;
    transition: background 0.3s;
  }
  
  .about-img img:hover {
    transform: scale(1.05);
    transition: all 0.3s;
  }
  
  /* Skills-section */
  
  .skill-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .section-title {
    margin: 70px 0px;
    font-size: 30px;
    /* margin-left: 40px; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 1px solid var(--brand-color2);
    /* display: inline-block; */
  }
  
  .skill-box {
    flex-basis: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.17);
    padding: 15px;
    margin-bottom: 20px;
    transition: background 0.3s;
  }
  .skill-img h4 {
    font-size: 20px;
    margin: 15px 0px;
    text-align: center;
    border-bottom: 3px solid var(--brand-color2);
  }
  .skill-box .skill-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    width: 90px;
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }
  
  .skill-box:hover {
    background: #06821d42;
    transition: background 0.3s;
  }
  
  /* Services-section */
  
  .services-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .services-tab {
    flex-basis: 32%;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.17);
    padding: 20px 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 400px;
    overflow: hidden;
  }
  
  .services-tab .img i {
    font-size: 40px;
    padding: 15px;
  }
  
  .services-tab h4 {
    font-size: 30px;
    margin: 10px 0px;
    color: var(--brand-color1);
  }
  
  .services-tab p {
    font-size: 20px;
    margin: 20px 0px;
    color: #0000004e;
  }
  
  .btn.btn-services {
    font-size: 15px;
    padding: 10px;
    margin-bottom: 0px;
  }
  
  .btn.btn-services:hover {
    background: var(--brand-color1);
  }
  
  .btn.btn-services:hover a {
    color: white;
  }
  
  .services-tab:hover {
    background: #4400ff3e;
    transition: background 0.3s;
  }
  
  /* Project-section */
  
  .projects-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .project-tab {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px 0px 20px 0px;
    flex-basis: 32%;
    border-radius: 10px;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.17);
    position: relative;
    overflow: hidden;
    height: 450px;
  }
  
  .layer {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
    background: linear-gradient(to top, green, rgba(255, 0, 0, 0));
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s;
  }
  
  .project-img img {
    aspect-ratio: 3/2;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  
  .project-title {
    font-size: 25px;
    padding: 15px 15px;
  }
  
  .project-desc {
    font-size: 15px;
    padding: 0px 15px 15px;
    color: #0000004e;
  }
  
  .project-tab:hover .layer {
    height: 100%;
    transition: height 0.3s;
  }
  
  .project-tab:hover .project-img img {
    transform: scale(1.1);
    transition: all 0.4s ease;
  }
  
  /* Contact-section */
  
  .contact-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact-links {
    flex-basis: 39%;
    /* text-align: center; */
    line-height: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
  }
  
  i.fa-solid {
    font-size: 20px;
  }
  
  .contact-form {
    flex-basis: 59%;
  }
  
  form {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
  }
  
  label {
    font-size: 20px;
    margin: 10px 0px;
  }
  
  input {
    border: 2px solid var(--brand-color2);
    border-radius: 5px;
    height: 40px;
    padding: 5px 10px;
    margin: 20px 0px 0px;
  }
  
  textarea {
    border: 2px solid var(--brand-color2);
    border-radius: 5px;
    padding: 10px 10px;
    margin: 20px 0px;
  }
  
  .btn.submit-btn {
    width: 200px;
    display: inline-block;
    margin-bottom: 20px;
  }
  
  /* Footer-section */
  
  .footer {
    width: 100%;
    background: #343434;
  }
  
  .copyright {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: white;
  }
  
  /* Media Querys */
  
  @media (max-width: 1228px) {
    .services-tab h4 {
      font-size: 25px;
    }
  }
  
  @media (max-width: 1164px) {
    .menu-bar {
      display: block;
    }
  
    .menu-close {
      display: block;
      margin-left: 120px;
    }
    .menu-close i {
      font-size: 30px;
    }
  
    .nav-links {
      position: absolute;
      top: 0px;
      right: 0;
      height: 100vh;
      width: 0px;
      display: block;
      background: rgba(255, 255, 255, 0.998);
      text-align: center;
      box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.17);
      margin: 0;
      transition: all 0.3s;
    }
  
    .nav-links.active {
      width: 250px;
      transition: width 0.3s;
    }
  
    .nav-links li {
      padding: 50px 10px 0px;
    }
  
    .nav-links li a {
      color: black;
    }
  
    .welcome-text {
      font-size: 30px;
    }
  
    .title {
      font-size: 40px;
    }
  
    .name {
      font-size: 40px;
    }
  }
  
  @media (max-width: 1120px) {
    .services-container {
      flex-direction: column;
    }
  }
  
  @media (max-width: 1112px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
  
    .contact-links {
      width: 80%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .contact-form {
      width: 70%;
    }
  }
  
  @media (max-width: 1071px) {
    .about-content {
      flex-direction: column;
    }
  }
  
  @media (max-width: 1032px) {
    .home-text {
      margin-top: 130px;
    }
  
    .content .home-img img {
      width: 300px;
      height: 300px;
    }
  
    .btn {
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }
  
  @media (max-width: 967px) {
    .projects-container {
      flex-direction: column;
      gap: 50px;
    }
    .project-tab {
      width: 77%;
    }
  
    .layer {
      display: flex;
      align-items: center;
    }
  
    .layer .submit-btn {
      margin-left: 50%;
      margin-right: auto;
    }
  }
  
  @media (max-width: 938px) {
    .content .home-img img {
      width: 200px;
      height: 200px;
    }
  }
  
  @media (max-width: 740px) {
    .skill-container {
      flex-direction: column;
    }
  }
  
  @media (max-width: 835px) {
    .content {
      flex-direction: column;
      justify-content: space-around;
    }
  }
  
  @media (max-width: 431px) {
    ul.nav-links.active {
      height: 135vh;
    }
  }
  
  @media (max-width: 581px) {
    p.name {
      font-size: 30px;
    }
  
    p.title {
      font-size: 30px;
    }
  
    .content .home-img img {
      height: 200px;
      width: 200px;
    }
  
    .content {
      justify-content: space-evenly;
    }
  }
  
  @media (max-width: 453px) {
    p.welcome-text {
      font-size: 20px;
    }
  
    p.name {
      font-size: 25px;
    }
  
    p.title {
      font-size: 25px;
    }
  }
  
  @media (max-width: 428px) {
    .content .home-img img {
      height: 200px;
      width: 200px;
    }
  }
  
  @media (max-width: 422px) {
    body {
      width: 422px;
    }
  }
  #text-container {
    overflow: hidden;
  }
  
  span {
    display: inline-block;
    white-space: nowrap;
    animation: appear 3ms forwards;
  }
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 10;
      transform: translateX(0);
    }
  }